<h1>Users#login</h1>
<p>Find me in app/views/users/login.html.erb</p>

<%= form_tag "/create_login_session" do %>
 <%= label_tag "用户名" %>
 <%= text_field_tag :email,params[:email]%>
 <%= label_tag "密码" %>
 <%= password_field_tag :password,params[:password] %>
 <%= submit_tag "登录" %>
<% end %>
