<h1>Users#login</h1>
<p>Find me in app/views/users/login.html.erb</p>

<%= form_tag "/create_login_session" do %>
    <div class="field">
        <%= label_tag "用户名" %>
        <%= text_field_tag :username,params[:username]%>
    </div>
    <div class="field">
        <%= label_tag "密码" %>
        <%= password_field_tag :password,params[:password] %>
    </div>
    <div class="field">
        <%= label_tag :remember_me %>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    </div>
    <div class="action">
        <%= submit_tag "登录" %>
    </div>
<% end %>